/* ----------------------------------------------------------------------- */
/* body */

body {
  text-align: center;

}

.background {
  position:absolute;
  background-image: url("./img/background.jpg");
  background-size: auto 100%;
  background-position: center;
	min-height: 100%;
	min-width: 100%;

}

/* ----------------------------------------------------------------------- */
/* Header */

#header {
  background-color: rgb(61, 61, 61);
  padding: 3vh;
}


/* ------------------------------------------------------------------------ */
/* Page d'Accueil */



#homePage {
  display: flex;
  align-items: center;
    justify-content: center;
    margin: 0 auto
}

#homePage #createBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20vh;
  width: 60vw;
  height: 20vh;

  border-radius: 20px;
  background-color: rgb(55, 92, 64);
  color:white;

  padding: 2vw;
}



/* ------------------------------------------------------------------------ */
/* Creation avis */


#create {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto
}

#title {
  margin-top: 5vh;
}

form {
  justify-content: center;
  align-items: center;
  
  margin: 5vh;
  background-color:white;
  padding: 3vw;

  border-radius: 20px;


  width: 80vw;
}

form input {
  width: 60vw;
  height: 5vh;
  margin-bottom: 5vh;
}


/* ------------------------------------------------------------------------ */
/* Print */

#print {
  background: white;
  margin: 1rem;
}

#logo {
  background-color: rgb(61, 61, 61);
  padding: 3vh 6vw;
}